# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/
ENV/
.VENV/
.venv/

# Django stuff
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
*.log

# Environment variables
.env
.env.*

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.tox/

# Migrations (optional, if you don't want to track them)
# **/migrations/*.py
# **/migrations/*.pyc
